body{margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

}
.banner{
    text-align: right;
    background-color: black;
    display: flex;
}
.logo{
    width: fit-content;
    height: 20vh;
    
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 25px 0;
    height: 8vh;
    background-color: black;
    background-size: cover;
    display: inline-block;
    align-items: center;
    justify-content: space-between;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #f0ece2;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f0ece2;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.fragranceimg{
    margin-left: 110px;
    display: flex;
    
}
.img1.frg-summarry{
    flex: 1;
}
.img1{
    height: 500px;
    width: fit-content;
    margin-left: 90px;

}
.frg-summarry{
    text-align: justify;
    margin-left: 300px;
   font-size: x-large;
   color: #f0ece2;
}
.imgcontainer{
    display: flex;
    margin-left: 110px;
}
.img2.fashion-p{
    flex: 1;
}
.img2{
    
    height: 500px;
    width: fit-content;
    margin-right: 90px;
    margin-left: 120px;
    
}
.fashion-p{
    text-align: justify;
    margin-left: 90px;
    font-size: large;
    color: #f0ece2;
}
.H1{
    text-align: left;
    font-size: 40px;
    color: #f0ece2;
    margin-left: 200px;
}
.paragraph1{
    
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 25px;  
    color: #f0ece2;
}
.allsaints-fashion{
    text-align: left;
    font-size: xx-large;
    color: #f0ece2;
    margin-left: 200px;
}

.nws-form{
    text-align: right;
    color: #f0ece2;
}
input{
    border-radius: 20px;
    padding: 15px;
    margin: 10px 0;
    width: 15%;
    border: 1px solid #999;
    outline: none;
}
button{
    color: grey;
    width: 10%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0 ;
    border: none;
    outline: none;
    cursor: pointer;
}
.label1{
    color: white;
}
.label2{
    color: white;
}
.section1{
    margin: 10;
}
.shortsummary1{
    margin: 15;
}
.footer-container{
    
    justify-content: space-between;
    padding: 10px;
    background-color: black;

}
.footer-left{
    text-align: center;
    color: white;
}

.fb-logo{
    height: 30px;
    width: 40px;
}
.twitter-logo{
    height: 30px;
    width: 30px;
}
.instagram-logo{
    height: 30px;
    width: 40px;
}
.spn1{
    color: white;
}

